<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mydisney.mapper.BussinessMapper">

    <insert id="saveBussiness" parameterType="com.example.mydisney.entity.Business">
        insert into
            business
        (
            date,
            openTime,
            endTime
        )
        values
            (
                #{date},
                #{openTime},
                #{endTime}
            )
    </insert>

    <select id="queryByCurrTime" parameterType="String" resultType="com.example.mydisney.entity.Business">
        SELECT
            id,
            date,
            openTime,
            endTime
        FROM
            business        
        WHERE
            date = #{currTime}
    </select>
</mapper>