<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mydisney.mapper.PlaytimeMapper">
    <resultMap id="BaseResultMap" type="com.example.mydisney.entity.Playtime">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="wait_time" property="waitTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="date" property="date"/>
    </resultMap>

    <select id="getTime" resultType="java.util.Map">
        SELECT
            p.id,
            i.icon,
            p.NAME,
            p.wait_time,
            p.date
        FROM
            `playtime` p
                INNER JOIN iconpath i ON p.`name` = i.`name`
        WHERE p.date = #{currDate}
          AND i.icon is not null
        ORDER BY CAST(p.wait_time AS unsigned) DESC
    </select>
</mapper>
